* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: black;
  font-family: "Poppins", sans-serif;
  color: white;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
#searchInput {
  padding: 5px;
  border-radius: 25px;
  background-color: transparent;
  outline: none;
  width: 450px;
  height: 40px;
  color: white;
  font-size: 1.2rem;
}
#searchInput::placeholder {
  font-size: 1.2rem;
}
.movies {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.movie {
  margin: 10px;
  width: 260px;
  height: 405px;
  background-color: rgb(17, 18, 104);
}
.moviePicture {
  width: 260px;
  height: 320px;
}
.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.movieName {
  font-size: 14px;
  margin-right: 10px;
}
.imdbPoint {
  font-size: 16px;
  background-color: rgb(255, 230, 0);
  padding: 5px;
  border-radius: 1px;
  color: black;
}
.movie:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
